{% extends 'base.twig' %}

{% block conteudo %}
<div class="news-details">
    <div class="news-header">
        <div class="container">
            <div class="box">
                <div class="border-top-rotate d-none d-sm-block"></div>
                <div class="header-content">
                    <div class="title">
                        {% if fn('get_locale') == 'en_US' %}
                            <h1>News</h1>
                        {% else %}
                            <h1>Notícias</h1>
                        {% endif %}
                        
                        <span class="date">{{ post.post_date | date('d/m/Y') }}</span>
                    </div>
                    <div class="image">
                        <img src="{{ Image(post.imagem) }}" class="img-fluid" alt="{{ post.title }}">
                    </div>
                </div>                    
            </div>
        </div>
    </div>
    <div class="news-content">
        <div class="container">
            <div class="box">
                <div class="news-description">
                    <div class="title">
                        <h2>{{ post.title }}</h2>
                    </div>

                    <div class="text">
                        {{ post.get_field('texto') }}
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</div>

<div class="news-bar">
    
</div>
{% endblock %}